
/*Regla
header (Selector) { (Inicio de la declaracion)
    background (Propiedad): pink (Valor);
}Fin de la declaracion
*/

/*Selectores de etiqueta: header - section - article - nav
Selectores desendentes:body header div nav ul li a{}
Selectores de clases: se le asigna un atributo class a la etiqueta para poder identificarlo en el css con un .nombreClase 
Selectored de id: con el id que tengan asignados en la etiqueta se identifica en el css con #nombreID*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    font-weight: 300;
    color: #2f303a;
    background-image: url('../images/fondo.png');
    background-size: cover;/*Cubre toda la pantalla*/
    background-attachment: fixed; /*Hace que la imagen de fondo se mueva*/
    background-repeat: no-repeat;
    font-family: 'Montserrat', sans-serif; /*Tipo de letra, si no encuentra la primera tipografia en el ordenador pone la segunda tipografica*/
}
h2{
    margin-left: 80px;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 300;
    color:#2f303a;
    letter-spacing: 2px;
}
.portfolio{
    display: none;
    justify-content: center;
}
.project{
    border: 2px gray solid;
    width: 1020px;
    border-radius: 10px;
    margin: 10px; /*Espacio que hay desde el contenedor hasta lo que tenga al lado*/
    margin-bottom: 15px;
    display: flex;
    padding: 20px; /*Espacio que hay entre el contentenido y el borde*/
    box-sizing: border-box; /*El ancho del contenido no va a ser más grande que el tamaño definido*/
}

.project-details{
    width: 500px;
}

.hero{
    display: flex;
    margin-top: 20px;
    height: 300px;
    background-image: url('../images/mujerprogramando.png');
    background-size: 440px 270px;
    background-repeat: no-repeat;
    background-position-x: right;
    align-items: center;
    background-color: rgb(247, 226, 218,0.5);
    border: 1px  rgb(247, 226, 218,0.5) solid;
    border-radius: 10px;

}

.hero h1{
    color:#2f303a;
    font-size: 2vw;
    margin-left: 80px;
    line-height: 50px; /*Espacio entre fraces*/
    font-weight: 500; /*Estilos y pesos de fuentes (negrilla)*/
}

ul{
    margin: 0;
    padding: 0;
    height: inherit; /*Ereda el valor del alto del header*/
    list-style: none; /*Quitar el estilo a las listas*/
}

figure{
    margin: 0;
}

.header{
    color: #2f303a;
    display: flex;
    height: 70px;
    justify-content: space-between; /*Crea un espacio entre los contenedores de header*/
}

.header figure{
    height: inherit;
    margin-top: 25px;
    margin-left: 15px;
}

.menu{
    height: inherit;
}

.header p{
    font-weight: 500;
    letter-spacing: 5px; /*espacio entre letras*/
    text-transform: uppercase; /*Poner todo el texto en mayusculas*/
    font-size: 25px; 
    margin:10px;
}

.header div{
    height: inherit;
    display: flex;
    align-items: center;
}

.header ul{
    height: inherit;
    display: flex;
}

.header ul li{
    height: inherit;
}

.header a{
    align-items: center;
    display: flex; /*Hacer el elemento flex para poder alinearlos más facil*/
    height: inherit;/*Hereda las propiedades del padre con inherit*/
    color: #2f303a;
    text-decoration: none; /*Quita la decoracion a los links*/
    font-weight: 300;
    padding: 0 15px;
    text-transform: uppercase;
}

.formation-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.formation{
    margin: 10px 25px;
    width: 500px;
    background-color: rgb(247, 226, 218,0.5) ;
    border-radius: 10px;
    flex-shrink: 0; /*Hace que la seccion ocupe oblicatorialmente el espacio asignado*/
    overflow: hidden ;/*Oculta lo que se desborde del borde*/
}

.formation img{
    width: 500px;
    height: 150px;
    object-fit: cover; /*Para que la imagen no se deforme*/
}

.formation-detail{
    margin: 20px 40px;
    margin-top: -50px;
    position: relative; /*Pone la posicion que sea*/
    padding: 20px; /*separa el texto del borde*/
    background-color: white;  
    text-align: center;
    color:#2f303a;
}

.formation-title{
    color:#2f303a;
    font-size: 20px;
}

.knowledge{
    margin-left: 100px;
    display: flex;
    flex-wrap: wrap;/*Hacer que los elementos caigan y no esten siempre en fila*/
    /*flex-direction:row;Direccion del flex*/
}

.knowledge img{
    width: 180px;
    height: 180px;
    margin: 20px;
    /*flex-shrink:0;Capacidad de encogimiento, 0 nada de encogimiento, 1 mucho encogimiento*/
}

h4{
    color: #2f303a;
    font-size: 15px;
    font-weight: 500;
    margin-left: 5px;
    margin-top: 15px;
    margin-right: 10px;
}

.contact{
    display: flex;
    height: 60px;
    justify-content: center;
}

.contact div{
    align-items: center;
    display: flex;
}

.contact figure{
    margin:0;
}

.contact .ubicacion img{
    margin-left: 20px;
    width: 30px;
}


.contact .redes img{
    width: 40px;
    display: flex;
    margin: 0 8px;
}